In [3]:
import pandas as pd

In [38]:
html_data = pd.read_html('data/table.html')
eod_df = pd.read_csv('data/eod.csv')

In [39]:
html_df = html_data[0]

In [40]:
html_df = html_df[['Symbol','GICS Sector']]
html_df.set_index('Symbol')
html_df.index.name = 'symbol'
html_df.columns = ['symbol','sector']

In [45]:
html_df.set_index('symbol',inplace=True)

In [42]:
eod_df.set_index('symbol',inplace=True)

In [47]:
eod_df.head()

        shares_held
symbol
MMM          214196
ABT          878535
ABBV       -1556626
AAP        -3298989
AES         -609290

In [48]:
html_df.head()

                        sector
symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ABMD               Health Care
ACN     Information Technology

In [50]:
eod_df.loc['MMM']

shares_held    214196
Name: MMM, dtype: int64

In [51]:
industry_dict = {}

In [57]:
print(html_df.loc['MMM'].values[0], industry_dict.get(html_df.loc['MMM'].values[0],0) ,eod_df.loc['MMM'].values[0])

Industrials 0 214196

In [61]:
symbols_not_present = []
for i in html_df.index.values:
    try:
        industry_dict[html_df.loc[i].values[0]] = industry_dict.get(html_df.loc[i].values[0],0) + eod_df.loc[i].values[0]
    except:
        symbols_not_present.append(i)

In [62]:
industry_dict

{'Industrials': 23675068,
 'Health Care': 71457609,
 'Consumer Discretionary': -46285004,
 'Utilities': 47358706,
 'Financials': 79555524,
 'Materials': -49212174,
 'Real Estate': -41368704,
 'Information Technology': 28057790,
 'Energy': 47171036,
 'Consumer Staples': 64141662,
 'Communication Services': 35086836}

In [64]:
sector_df = pd.DataFrame.from_dict(industry_dict, orient='index')
sector_df.columns = ['shares_held']
sector_df.index.name = 'sector'

#Remove any duplicates if present
sector_df.drop_duplicates(inplace=True)
sector_df.to_csv('data/sector.csv')